@font-face {
  font-family: 'TT Lakes';
  src: url('fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('fonts/TTLakes-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: 'TT Lakes', 'Times New Roman', Times, sans-serif;
  margin: 0;
}
.menu-first-button{
  display: none;
}
.header {
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
 margin: 20px auto;
 padding: 0;
}
.header-left-icons{
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  margin-right: 10px;
}
.header-grey-stick {
  visibility: hidden;
}
.header-rightside__stick {
  display: none;
}
.header-leftside__stick {
  display: none;
}
.header-leftside {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-right: 10px;
}
.header-rightside {
  display: none;
}
.header-left-icons{
  margin-right: 10px;
}
.header-rightside__icons{
  display: none;
}
.header-call {
  visibility: visible;
}
.main-title {
  height: 50px;
  width: 304px;
  display: flex;
  gap: 20px;
}
.stick {
  display: inline-block;
}
.main-title__headline {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
  padding-left: 7px;
  padding-bottom: 20px;
  line-height: 40px;
}
button{
  height: 40px;
  background-color: #fff;
  border: none;
  margin-left: 16px;
}
button:hover {
  border: 2px solid #b8ffec;
}
.menu {
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 40px;
  width: 100vw;
  margin-top: 32px;
}
.description {
  display: flex;
  font-size: 14px;
  margin-top: 24px;
  margin-left: 30px;
  height: 300px;
  width: fit-content;
  white-space: nowrap;
}
.description-image {
  display: none;
}
.text {
  display: block;
}
.second-paragraph {
  display: none;
}
.continuation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  margin: 16px;
}
.continuation-title {
  vertical-align: middle;
}
.main-title__icons{
  display: none;
}
.main-picture {
  display: none;
  width: 100hw;
  margin-right: 10px;
  margin-top: 0px;
}
@media (min-width: 768px) {
  .header {
    padding-top: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 88px;
  }
  .menu {
    font-family: 'TT Lakes';
    overflow: hidden;
    width: 100vw;
  }

  .header__grey-stick {
    display: none;
  }
  .header-leftside__stick {
    display: inline;
  }
  .header-rightside {
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 16px;
    gap: 20px;
  }
  .header-leftside {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .header-left-icons{
    display: none;
  }
  .header-divider {
    visibility: hidden;
  }
  .first-paragraph {
    font-family: 'TT Lakes';
    font-size: 14px;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin-top: 30px;
  }
  .first-paragraph__text{
    width: 360px;
  }
  
  .description-image {
    margin-bottom: 130px;
    display: block;
  }
  .main-picture {
    flex-grow: 1;
    display: inline;
    width: 90px;
    height: 240px;
    border-radius: 6px;
    margin-top: 130px;
    margin-left: 48px;
  }
  .picture {
    display: none;
  }
  .second-paragraph {
    font-family: 'TT Lakes';
    word-wrap: normal;
    visibility: hidden;
    display: block;
    height: 90px;
    height: fit-content;
    font-size: 14px;
    margin-top: 0px;
  }
  .continuation {
    display: flex;
   justify-content: flex-start;
    margin-bottom: 100px;
    margin-right: 40px;
  }
  
  .text {
    width: 312px;
    display: inline-block;
    visibility: visible;
    font-size: 14px;
  }
  span.no-wrap{
   visibility: hidden;
  }
}

@media(min-width: 1120px){
  .header{
    display: none;
  }
  .menu{
    width: 900px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
 .menu-first-button{
  display: inline-block;
 }
  .main-title{
    width : 100vw;
    display : flex;
    justify-content : flex-start;
    flex-wrap : nowrap;
    flex : 1
    gap : 0px;
    align-items : center;
    padding-top : 17px;
    
  }
  .main-title__icons{
    font-weight : bold;
    display : flex;
    justify-content : space-between;
    gap : 5px;
    align-items : center;
    margin-bottom : 10px;
    margin-left : auto;
  }
  .main-title__headline{
    padding-top : 10px;
  }
  span.no-wrap{
    visibility: visible;
    font-weight : 600;
    display : inline-block;
  }
  .first-paragraph{
    width : 1120px;
    margin-top: 30px;
    visibility : visible;
  }
  .second-paragraph{
    width: 390px;
    visibility: visible;
  }
  .main-picture{
    margin-left : 170px;
  }
  .main-title__icons{
    display: flex;
    justify-content: flex-end;

  }
}